<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
  1
  2 <form method="post" action="/piglatinize">
  3   <p>Enter your phrase:</p>
  4   <textarea name="user_phrase"></textarea>
  5   <br>
  6   <button type="submit" value="submit">Submit</button>
  7 </form>  
  </body>
</html>
